.navbar{
    margin: 2rem 9rem;
}
/* nav */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 2rem;
}
.nav-logo{
    height: 3rem;
    width: 3.5rem;
}